* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

.container {
  width: 350px;
  background: grey;
  margin: 50px auto;
  padding: 20px 20px;
  border-radius: 20px;
  box-shadow: 5px 15px 35px #1b1d1c;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

hr {
  margin-top: 10px;
  margin-bottom: 20px;
}

.nama {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 11pt;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 20px;
}

.kirim{
  background: #1b1d1c;
  color: white;
  font-size: 11pt;
  width: 100%;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 20px;
}
.kirim:hover {
  background: rgb(34, 35, 25);
  cursor: pointer;
}